.container {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: calc(100% - 64px);

  div {
    width: 45%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.content{
  text-align: center;
}
/* Título */
h1 {
  font-size: 1.8rem;
  color: #2D9CDB;
  margin-bottom: 10px;
}

/* Texto */
p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
