@use '@angular/material' as mat;

// Define a paleta primária com contraste
$primary-palette: mat.m2-define-palette((
  100: #b8ede3,
  200: #76decd,
  300: #3dcab4,
  400: #22bfa8,
  500: #1ABC9C,
  600: #299D86, // cor dark
  700: #15a385,
  800: #129778,
  900: #0d7f63,
  contrast: (
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
));

// Paleta secundária (accent)
$accent-palette: mat.m2-define-palette((
  100: #cce6f6,
  200: #99cdf0,
  300: #66b3ea,
  400: #4da4e5,
  500: #3498db,
  600: #2f89c5,
  700: #297ab0,
  800: #236b9a,
  900: #1a4f70,
  contrast: (
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    )
));

// Paleta de erro
$warn-palette: mat.m2-define-palette((
  100: #f9c8c3,
  200: #f3978f,
  300: #ec665b,
  400: #e7443a,
  500: #b11c0c,
  600: #9d180b,
  700: #89140a,
  800: #751009,
  900: #500a06,
  contrast: (
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
));

// Criação do tema
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
    dark-blue: $warn-palette,
  ),
  typography: mat.m2-define-typography-config(), // ou defina um custom
  density: 0, // opcional
));

// Aplicar o tema
@include mat.all-component-themes($custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Open Sans;
}
