.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  app-cars-card {
    width: 320px;
    margin-bottom: 1rem;
  }
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
